<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'app/css/bloque.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>

    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="{% static 'app/js/jquery.dataTables.min.js' %}"></script>

    <img class="bar" src="{% static 'app/img/barra_hud.png' %}" width=1510 heigth= 2000 alt="barra">
    <img class="blanco" src="{%static 'app/img/blanco.png' %}" width=1600 height=20 alt="blanco">
    <img class="hud" src="{% static 'app/img/Hud.png' %}" width=900 heigth= 2000 alt="menu">
    <a href="http://127.0.0.1:8000/"><img class="hud_2" src="{% static 'app/img/inv.png' %}" width=550 heigth= 2000 alt="menu"></a>
</head>
<body>
    <div class="buscar">
        <input type="search" id="input-search" class="buscar_texto" placeholder="       &iquest;Qu&eacute; sala buscas?"/>
        <a href="" class="boton">
        <i class="icon-buscar"></i>
        </a>
        <div class="content-search">
            <div class="content-table">
                <table id="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_a/">Salas A</a></td>
                        </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A016</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_a/">A017</a></td>
                                </tr>
    
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_b/">Salas B</a></td>
                        </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B021</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B022</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B023</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B031</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B033</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B035</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B037</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B039</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B049</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B064</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B065</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B114</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B115</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B203</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B344</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_b/"> B389</a></td>
                                </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_f/">Salas F</a></td>
                        </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F325</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F400</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F401</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F402</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F403</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F405</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F406</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F407</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F408</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F409</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F410</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F411</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_f/">F425</a></td>
                                </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_e/">Salas E</a></td>
                        </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_e/">E201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_e/">E202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://127.0.0.1:8000/edificio_e/">E203</a></td>
                                </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_e/">Edificio E</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_a/">Edificio A</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_b/">Edificio B</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_f/">Edificio F</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a> <img class="piso_1" src="{% static 'app/img/edificioc.png' %}" width="1200" height="600"></a>
    <script src="{% static 'app/js/search.js' %}"></script>
</body>
</html>