<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'app/css/bloque.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>

    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="{% static 'app/js/jquery.dataTables.min.js' %}"></script>

    <img class="bar" src="{% static 'app/img/barra_hud.png' %}" width=1510 heigth= 2000 alt="barra">
    <img class="blanco" src="{%static 'app/img/blanco.png' %}" width=1600 height=20 alt="blanco">
    <img class="hud" src="{% static 'app/img/Hud.png' %}" width=900 heigth= 2000 alt="menu">
    <a href="http://127.0.0.1:8000/"><img class="hud_2" src="{% static 'app/img/inv.png' %}" width=550 heigth= 2000 alt="menu"></a>
</head>
<body>
    <div class="buscar">
        <input type="search" id="input-search" class="buscar_texto" placeholder="       &iquest;Qu&eacute; sala buscas?"/>
        <a href="" class="boton">
        <i class="icon-buscar"></i>
        </a>
        <div class="content-search">
            <div class="content-table">
                <table id="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_a/">Salas A</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_b/">Salas B</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_c/">Salas C</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_f/">Salas F</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_e/">Salas E</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_e/">Edificio E</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_a/">Edificio A</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_b/">Edificio B</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_c/">Edificio C</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://127.0.0.1:8000/edificio_f/">Edificio F</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button class="inv-bote201" id="btn-abrir-modale201"> E201 </button>
    <dialog id="modale201">
        <h2> <img src="{% static 'app/img/boton.png' %}"></h2>
        <button id="btn-cerrar-modale201"> cerrar modal </button>
    </dialog>

    <button class="inv-bote202" id="btn-abrir-modale202"> E202 </button>
    <dialog id="modale202">
        <h2> <img src="{% static 'app/img/boton.png' %}"></h2>
        <button id="btn-cerrar-modale202"> cerrar modal </button>
    </dialog>

    <button class="inv-bote203" id="btn-abrir-modale203"> E203 </button>
    <dialog id="modale203">
        <h2> <img src="{% static 'app/img/boton.png' %}"></h2>
        <button id="btn-cerrar-modale203"> cerrar modal </button>
    </dialog>

    <a> <img class="piso_e" src="{% static 'app/img/edificioe.png' %}" width="600" height="800"></a>
    <script src="{% static 'app/js/search.js' %}"></script>
</body>
</html>