<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bloque.css">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>

    <script src="/jquery.js"></script>
    <script src="/jquery.dataTables.min.js"></script>

    <img class="bar" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/barra_hud.png?raw=true' width=1510 heigth= 2000 alt="barra">
    <img class="blanco" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/blanco.png?raw=true' width=1600 height=20 alt="blanco">
    <img class="hud" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/Hud.png?raw=true' width=900 heigth= 2000 alt="menu">
    <a href="https://utfsmaps.herokuapp.com/"><img class="hud_2" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/inv.png?raw=true' width=550 heigth= 2000 alt="menu"></a>
</head>
<body>
    <div class="buscar">
        <input type="search" id="input-search" class="buscar_texto" placeholder="       &iquest;Qu&eacute; sala buscas?"/>
        <a href="" class="boton">
        <i class="icon-buscar"></i>
        </a>
        <div class="content-search">
            <div class="content-table">
                <table id="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">Salas A</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A016</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A017</a></td>
                                </tr>
    
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_b/">Salas B</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B021</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B022</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B023</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B031</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B033</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B035</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B037</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B039</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B049</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B064</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B065</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B114</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B115</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B203</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B344</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B389</a></td>
                                </tr>
                                
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Salas C</a></td>
                        </tr>
                                <tr>   
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">FabLab</a></td>
                                </tr>
                                <tr>   
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Sala Pasta</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">Salas F</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F325</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F400</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F401</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F402</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F403</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F405</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F406</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F407</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F408</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F409</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F410</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F411</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F425</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">Salas E</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E203</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">Edificio E</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">Edificio A</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_b/">Edificio B</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Edificio C</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">Edificio F</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a> <img class="piso_1" src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/edificioa.png?raw=true" width="1200" height="600"></a>
    <button class="inv-bot16" id="btn-abrir-modal16"> A016 </button>
    <dialog id="modal16">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p>>/p>
        Esta sala se encuentra en la zona techada del edificio A.
         Se encuentra al lado de la sala A004,
            tambi&eacute;n se encuentra frente al Dpto. de F&iacute;sica.
        </h2>
        <button id="btn-cerrar-modal16"> cerrar modal </button>
    </dialog>
    
    <button class="inv-bot4" id="btn-abrir-modal04"> A004 </button>
    <dialog id="modal04">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A016 y A005,
            tambi&eacute;n se encuentra frente al Dpto. de matem&aacute;ticas. </h2>
        <button id="btn-cerrar-modal04"> cerrar modal </button>
    </dialog>

    <button class="inv-bot5" id="btn-abrir-modal05"> A005 </button>
    <dialog id="modal05">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A004 y A006,
            tambi&eacute;n se encuentra frente al Dpto. de Estudios Human&iacute;sticos. </h2>
        <button id="btn-cerrar-modal05"> cerrar modal </button>
    </dialog>

    <button class="inv-bot6" id="btn-abrir-modal06"> A006 </button>
    <dialog id="modal06">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A005 y los baños que conectan la zona techada del edificio A,
            tambi&eacute;n se encuentra frente al Dpto. de Estudios Human&iacute;sticos. </h2>
        <button id="btn-cerrar-modal06"> cerrar modal </button>
    </dialog>

    <button class="inv-bot7" id="btn-abrir-modal07"> A007 </button>
    <dialog id="modal07">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre los baños que conectan con la zona techada del edificio A
            y la sala A009, tambi&eacute;n se encuentra frente a la sala A017 </h2>
        <button id="btn-cerrar-modal07"> cerrar modal </button>
    </dialog>

    <button class="inv-bot8" id="btn-abrir-modal08"> A008 </button>
    <dialog id="modal08">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A007 y A009, tambi&eacute;n se encuentra frente
        del pasillo que conecta con el edificio C. </h2>
        <button id="btn-cerrar-modal08"> cerrar modal </button>
    </dialog>

    <button class="inv-bot9" id="btn-abrir-modal09"> A009 </button>
    <dialog id="modal09">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A008 y A010, tambi&eacute;n se encuentra frente de la sala A001. </h2>
        <button id="btn-cerrar-modal09"> cerrar modal </button>
    </dialog>

    <button class="inv-bot10" id="btn-abrir-modal10"> A010 </button>
    <dialog id="modal10">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A009 y A011, tambi&eacute;n se encuentra frente de la sala A002. </h2>
        <button id="btn-cerrar-modal10"> cerrar modal </button>
    </dialog>

    <button class="inv-bot11" id="btn-abrir-modal11"> A011 </button>
    <dialog id="modal11">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
         Se encuentra entre la sala A010 y los baños que se ubican el el edificio F,
            tambi&eacute;n se encuentra frente tiene a la sala A003. </h2>
        <button id="btn-cerrar-modal11"> cerrar modal </button>
    </dialog>

    <button class="inv-bot12" id="btn-abrir-modal12"> A012 </button>
    <dialog id="modal12">
        <h2> Esta sala se encuentra en la zona techada del edificio A.
            Se encuentra entre la segunda entrada al edifio A y la sala A013. </h2>
        <button id="btn-cerrar-modal12"> cerrar modal </button>
    </dialog>

    <button class="inv-bot13" id="btn-abrir-modal13"> A013 </button>
    <dialog id="modal13">
        <h2> Esta sala se encuentra en la zona techada del edificio A.
            Se encuentra entre las salas A012 y A014. </h2>
        <button id="btn-cerrar-modal13"> cerrar modal </button>
    </dialog>

    <button class="inv-bot14" id="btn-abrir-modal14"> A014 </button>
    <dialog id="modal14">
        <h2> Esta sala se encuentra en la zona techada del edificio A.
            Se encuentra entre las salas A013 y A015.  </h2>
        <button id="btn-cerrar-modal14"> cerrar modal </button>
    </dialog>

    <button class="inv-bot15" id="btn-abrir-modal15"> A015 </button>
    <dialog id="modal15">
        <h2> Esta sala se encuentra en la zona techada del edificio A.
            Se encuentra entre la sala A014 y la Oficina Vespertina. </h2>
        <button id="btn-cerrar-modal15"> cerrar modal </button>
    </dialog>

    <button class="inv-bot3" id="btn-abrir-modal03"> A003 </button>
    <dialog id="modal03">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
            Est&aacute; a mano izquierda del pasillo para ir al edificio C, 
            tambi&eacute;n tiene una entrada desde la zona del edificio C. </h2>
        <button id="btn-cerrar-modal03"> cerrar modal </button>
    </dialog>

    <button class="inv-bot17" id="btn-abrir-modal17"> A017 </button>
    <dialog id="modal17">
        <h2> Esta sala se encuentra en la zona no techada del edificio A.
            Est&aacute; a mano izquierda del pasillo para ir al edificio C, 
            tambi&eacute;n tiene una entrada desde la zona del edificio C. </h2>
        <button id="btn-cerrar-modal17"> cerrar modal </button>
    </dialog>

    <button class="inv-bot1" id="btn-abrir-modal01"> A001 </button>
    <dialog id="modal01">
        <h2>Sala A001
            <p></p> 
            Descripci&oacute;n: <p></p>
            Sala ubicada en la zona no techada del edificio A. 
            Est&aacute; a mano derecha del pasillo para ir al edificio C, 
            tambi&eacute;n tiene una entrada desde la zona del edificio C. </h2>
        <button id="btn-cerrar-modal01"> Cerrar descripci&oacute;n </button>
    </dialog>

    <button class="inv-bot2" id="btn-abrir-modal02"> A002 </button>
    <dialog id="modal02">
        <h2> Sala ubicada en la zona no techada del edificio A. 
            Tambi&eacute;n se encuentra entre la salas A001, a su derecha,
            y la sala A003, a su izquierda. 
            Tambi&eacute;n tiene una entrada desde la zona del edificio C </h2>
        <button id="btn-cerrar-modal02"> cerrar modal </button>
    </dialog>

    <script src="/search.js"></script>
    <script src="/04.js"></script>
    <script src="/05.js"></script>
    <script src="/03.js"></script>
    <script src="/02.js"></script>
    <script src="/01.js"></script>
    <script src="/07.js"></script>
    <script src="/06.js"></script>
    <script src="/08.js"></script>
    <script src="/09.js"></script>
    <script src="/10.js"></script>
    <script src="/11.js"></script>
    <script src="/12.js"></script>
    <script src="/13.js"></script>
    <script src="/14.js"></script>
    <script src="/15.js"></script>
    <script src="/17.js"></script>
    <p></p>
    <a> &copy; Propiedad de UTFSMaps. Derechos reservados unica y exclusivamente para el uso profesional del contenido proporcionado.</a>
</body>
</html>
