<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bloque.css">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>

    <script src="/jquery.js"></script>
    <script src="/jquery.dataTables.min.js"></script>

    <img class="bar" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/barra_hud.png?raw=true' width=1510 heigth= 2000 alt="barra">
    <img class="blanco" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/blanco.png?raw=true' width=1600 height=20 alt="blanco">
    <img class="hud" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/Hud.png?raw=true' width=900 heigth= 2000 alt="menu">
    <a href="https://utfsmaps.herokuapp.com/"><img class="hud_2" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/inv.png?raw=true' width=550 heigth= 2000 alt="menu"></a>
</head>
<body>
    <div class="buscar">
        <input type="search" id="input-search" class="buscar_texto" placeholder="       &iquest;Qu&eacute; sala buscas?"/>
        <a href="" class="boton">
        <i class="icon-buscar"></i>
        </a>
        <div class="content-search">
            <div class="content-table">
                <table id="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">Salas A</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A016</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A017</a></td>
                                </tr>
    
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_b/">Salas B</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B021</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B022</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B023</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B031</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B033</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B035</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B037</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B039</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B049</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B064</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B065</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B114</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B115</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B203</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B344</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B389</a></td>
                                </tr>
                                
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Salas C</a></td>
                        </tr>
                                <tr>   
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">FabLab</a></td>
                                </tr>
                                <tr>   
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Sala Pasta</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">Salas F</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F325</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F400</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F401</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F402</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F403</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F405</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F406</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F407</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F408</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F409</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F410</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F411</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F425</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">Salas E</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E203</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">Edificio E</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">Edificio A</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_b/">Edificio B</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Edificio C</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">Edificio F</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a> <img class="piso_1" src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/edificiob.png?raw=true" width="600" height="725"></a>
    <a> <img class="piso_2" src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/edificiob2.png?raw=true" width="350" height="417"></a>
    <a> <img class="piso_-1" src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/edificiob3.png?raw=true" width="350" height="417"></a>

    <button class="inv-botb01" id="btn-abrir-modalb01"> B001 </button>
    <dialog id="modalb01">
        <h2> <img src="{% static 'app/img/boton.png' %}">
            <p></p>
            Esta sala se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra entre los baños debajo de las salas B200 y 
            la sala B002.
            Frente a esta sala se encuentra en la zona abierta del edificio B.
        </h2>
        <button id="btn-cerrar-modalb01"> cerrar modal </button>
    </dialog>

    <button class="inv-botb02" id="btn-abrir-modalb02"> B002 </button>
    <dialog id="modalb02">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra entre las escaleras y ascensor para ir a las salas B200 y 
            la sala B001.
            Frente a esta sala se encuentra en la zona abierta del edificio B.
        </h2>
        <button id="btn-cerrar-modalb02"> cerrar modal </button>
    </dialog>

    <button class="inv-botb03" id="btn-abrir-modalb03"> B003 </button>
    <dialog id="modalb03">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la salida hacia la zona abierta del edificio B
            y la sala B004.
        </h2>
        <button id="btn-cerrar-modalb03"> cerrar modal </button>
    </dialog>

    <button class="inv-botb04" id="btn-abrir-modalb04"> B004 </button>
    <dialog id="modalb04">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B003 y B005.
        </h2>
        <button id="btn-cerrar-modalb04"> cerrar modal </button>
    </dialog>

    <button class="inv-botb05" id="btn-abrir-modalb05"> B005 </button>
    <dialog id="modalb05">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B004 y B006.
        </h2>
        <button id="btn-cerrar-modalb05"> cerrar modal </button>
    </dialog>

    <button class="inv-botb06" id="btn-abrir-modalb06"> B006 </button>
    <dialog id="modalb06">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B005 y B007.
            Frente a esta sala se encuentra el pasillo que conecta con
            el pasillo exterior del edificio B.
        </h2>
        <button id="btn-cerrar-modalb06"> cerrar modal </button>
    </dialog>

    <button class="inv-botb07" id="btn-abrir-modalb07"> B007 </button>
    <dialog id="modalb07">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B006 y B008.
            Frente a esta sala se encuentra el pasillo que conecta con
            el pasillo exterior del edificio B.
        </h2>
        <button id="btn-cerrar-modalb07"> cerrar modal </button>
    </dialog>

    <button class="inv-botb08" id="btn-abrir-modalb08"> B008 </button>
    <dialog id="modalb08">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B007 y B009.
        </h2>
        <button id="btn-cerrar-modalb08"> cerrar modal </button>
    </dialog>

    <button class="inv-botb09" id="btn-abrir-modalb09"> B009 </button>
    <dialog id="modalb09">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B008 y B010.
        </h2>
        <button id="btn-cerrar-modalb09"> cerrar modal </button>
    </dialog>

    <button class="inv-botb10" id="btn-abrir-modalb10"> B010 </button>
    <dialog id="modalb10">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B009 y B011.
            Frente a esta sala se encuentra el pasillo que dirige 
            al Dpto. de Qu&iacute;mica y la escalera al piso subterraneo.
        </h2>
        <button id="btn-cerrar-modalb10"> cerrar modal </button>
    </dialog>

    <button class="inv-botb11" id="btn-abrir-modalb11"> B011 </button>
    <dialog id="modalb11">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B010 y B012.
        </h2>
        <button id="btn-cerrar-modalb11"> cerrar modal </button>
    </dialog>

    <button class="inv-botb12" id="btn-abrir-modalb12"> B012 </button>
    <dialog id="modalb12">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra al lado de la sala B011.
            Frente a esta sala se encuentra el pasillo que conecta 
            con el Lab. de Procesos y la escalera al segundo piso.
            <p></p>
            <strong> Sala para clases cátedra y ayudantía</strong>
        </h2>
        <button id="btn-cerrar-modalb12"> cerrar modal </button>
    </dialog>

    <button class="inv-botb14" id="btn-abrir-modalb14"> B014 </button>
    <dialog id="modalb14">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre el CIAC y la sala B015.
            Frente a esta sala se encuentra en la zona abierta del edificio B.
        </h2>
        <button id="btn-cerrar-modalb14"> cerrar modal </button>
    </dialog>

    <button class="inv-botb15" id="btn-abrir-modalb15"> B015 </button>
    <dialog id="modalb15">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre los baños debajo de las salas B200 y 
            la sala B014.
            Frente a esta sala se encuentra en la zona abierta del edificio B.
        </h2>
        <button id="btn-cerrar-modalb15"> cerrar modal </button>
    </dialog>

    <button class="inv-botb31" id="btn-abrir-modalb31"> B031 </button>
    <dialog id="modalb31">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la sala B033 y 
            la salida a la zona no techada del edificio B.
            Frente a esta sala se ecuentra el "LDS" (B036).
        </h2>
        <button id="btn-cerrar-modalb31"> cerrar modal </button>
    </dialog>

    <button class="inv-botb33" id="btn-abrir-modalb33"> B033 </button>
    <dialog id="modalb33">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la sala B031 y B035
            Frente a esta sala se ecuentra el "LDS" (B036).
        </h2>
        <button id="btn-cerrar-modalb33"> cerrar modal </button>
    </dialog>

    <button class="inv-botb35" id="btn-abrir-modalb35"> B035 </button>
    <dialog id="modalb35">
        <h2> <img src="{% static 'app/img/boton.png' %}">
         <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la sala B033 y B037
            Frente a esta sala se ecuentra el "LDS" (B036).
        </h2>
        <button id="btn-cerrar-modalb35"> cerrar modal </button>
    </dialog>

    <button class="inv-botb37" id="btn-abrir-modalb37"> B037 </button>
    <dialog id="modalb37">
        <h2> <img src="{% static 'app/img/boton.png' %}">
         <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la sala B035 y B039
            Frente a esta sala se ecuentra el "LDS" (B036).
        </h2>
        <button id="btn-cerrar-modalb37"> cerrar modal </button>
    </dialog>

    <button class="inv-botb39" id="btn-abrir-modalb39"> B039 </button>
    <dialog id="modalb39">
        <h2> <img src="{% static 'app/img/boton.png' %}">
         <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la sala B037 y 
            la sala de los primos (B043-B045-B047).
            Frente a esta sala se encuentran las salas B038 y B044.
        </h2>
        <button id="btn-cerrar-modalb39"> cerrar modal </button>
    </dialog>

    <button class="inv-botb49a" id="btn-abrir-modalb49a"> B049(a) </button>
    <dialog id="modalb49a">
        <h2> <img src="{% static 'app/img/boton.png' %}">
         <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n <strong>se encuentra unida con la sala B049(b).</strong>
            Frente a esta sala se ecuentra el la sala de postgrado (B046) y unos baños.
        </h2> 
        <button id="btn-cerrar-modalb49a"> cerrar modal </button>
    </dialog>

    <button class="inv-botb49b" id="btn-abrir-modalb49b"> B049(b) </button>
    <dialog id="modalb49b">
        <h2> <img src="{% static 'app/img/boton.png' %}">
         <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n <strong>se encuentra unida con la sala B049(a).</strong>
            Frente a esta sala se ecuentra el la sala de postgrado (B046) y unos baños.
        </h2>
        <button id="btn-cerrar-modalb49b"> cerrar modal </button>
    </dialog>

    <button class="inv-botb389" id="btn-abrir-modalb389"> B038 </button>
    <dialog id="modalb389">
        <h2> <img src="{% static 'app/img/boton.png' %}">
         <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre el LDS(B036) y la sala B044.
            Frente a esta sala se encuentra la sala B039.
        </h2>
        <button id="btn-cerrar-modalb389"> cerrar modal </button>
    </dialog>

    <button class="inv-botb344" id="btn-abrir-modalb344"> B044 </button>
    <dialog id="modalb344">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre las salas B038 y Postgrado (B046).
            Frente a esta sala se encuentra la sala B039.
        </h2>
        <button id="btn-cerrar-modalb344"> cerrar modal </button>
    </dialog>

    <button class="inv-botb21" id="btn-abrir-modalb21"> Arquitectura <p></p> B021 </button>
    <dialog id="modalb21">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala de Arquitectura se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra al lado del auditorio B022 .
            Frente a esta sala se encuentra la zona exterior del edificio B.
        </h2>
        <button id="btn-cerrar-modalb21"> cerrar modal </button>
    </dialog>

    <button class="inv-botb22" id="btn-abrir-modalb22"> B022 </button>
    <dialog id="modalb22">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Este auditorio se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra entre las salas de Arquitectutura B021 y B023.
            Frente a esta sala se encuentra la zona exterior del edificio B.
        </h2>
        <button id="btn-cerrar-modalb22"> cerrar modal </button>
    </dialog>

    <button class="inv-botb23" id="btn-abrir-modalb23"> Arquitectura <p></p> B023 </button>
    <dialog id="modalb23">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Esta sala de Arquitectura se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra entre el auditorio B022 y 
            la entrada a la zona techada del edificio B.
            Frente a esta sala se encuentra la zona exterior del edificio B.
        </h2>
        <button id="btn-cerrar-modalb23"> cerrar modal </button>
    </dialog>

    <button class="inv-botb64" id="btn-abrir-modalb64"> B064 </button>
    <dialog id="modalb64">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Este laboratorio se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra al lado del Dpto. de Qu&iacute;mica.
            Frente a esta sala se encuentra el Laboratorio B065.
        </h2>
        <button id="btn-cerrar-modalb64"> cerrar modal </button>
    </dialog>

    <button class="inv-botb65" id="btn-abrir-modalb65"> B065 </button>
    <dialog id="modalb65">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            Este laboratorio se encuentra en la zona techada del edificio B.
            tambi&eacute;n se encuentra entre la escalera hacia el subterraneo y 
            el Dpto. de Qu&iacute;mica.
            Frente a esta sala se encuentra el Laboratorio B064.
        </h2>
        <button id="btn-cerrar-modalb65"> cerrar modal </button>
    </dialog>
    
    <button class="inv-botb114" id="btn-abrir-modalb114"> B114 </button>
    <dialog id="modalb114">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            En el subterraneo este laboratorio se encuentra en la sona techada del edificio B.
            tambi&eacute;n se encuentra a mano derecha de la escalera donde se desciende, junto a
            la sala B115.
            Frente a esta sala se encuentra coordinación a mano izquierda.
        </h2>
        <button id="btn-cerrar-modalb114"> cerrar modal </button>
    </dialog>

    <button class="inv-botb115" id="btn-abrir-modalb115"> B115 </button>
    <dialog id="modalb115">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            En el subterraneo este laboratorio se encuentra en la sona techada del edificio B.
            tambi&eacute;n se encuentra a mano derecha de la escalera donde se desciende, junto a
            la sala B114.
            Frente a esta sala se encuentra coordinación a mano izquierda.</h2>
        <button id="btn-cerrar-modalb115"> cerrar modal </button>
    </dialog>
    
    <button class="inv-botb201" id="btn-abrir-modalb201"> B201 </button>
    <dialog id="modalb201">
        <h2> <img src="{% static 'app/img/boton.png' %}">
        <p></p>
            En el segundo piso esta sala se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra como primera sala al subir por las escaleras, junto
            a la sala B202.
        </h2>
        <button id="btn-cerrar-modalb201"> cerrar modal </button>
    </dialog>
    
    <button class="inv-botb202" id="btn-abrir-modalb202"> B202 </button>
    <dialog id="modalb202">
        <h2>
        <p></p>
            En el segundo piso esta sala se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra como segunda sala al subir por las escaleras, entre
            las salas B201y B203.
        </h2>
        <button id="btn-cerrar-modalb202"> cerrar modal </button>
    </dialog>
    
    <button class="inv-botb203" id="btn-abrir-modalb203"> B203 </button>
    <dialog id="modalb203">
        <h2>
            En el segundo piso esta sala se encuentra en la zona no techada del edificio B.
            tambi&eacute;n se encuentra como tercera sala al subir por las escaleras, junto
            a la sala B202.
        </h2>
        <button id="btn-cerrar-modalb203"> cerrar modal </button>
    </dialog>

    <button class="inv-botqr3" id="btn-abrir-modalqr3"><img src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/qr.png?raw=true" width="70px" height="60px"></button>
    <dialog id="modalqr3">
        <h2> </h2>
        <button id="btn-cerrar-modalqr3"> cerrar modal </button>
    </dialog>

    <script src="/search.js "></script>
    <script src="/b01.js "></script>
    <script src="/b02.js "></script>
    <script src="/b03.js "></script>
    <script src="/b04.js "></script>
    <script src="/b05.js "></script>
    <script src="/b06.js "></script>
    <script src="/b07.js "></script>
    <script src="/b08.js "></script>
    <script src="/b09.js "></script>
    <script src="/b10.js "></script>
    <script src="/b11.js "></script>
    <script src="/b12.js "></script>
    <script src="/b14.js "></script>
    <script src="/b15.js "></script>
    <script src="/b21.js "></script>
    <script src="/b22.js "></script>
    <script src="/b23.js "></script>
    <script src="/b31.js "></script>
    <script src="/b33.js "></script>
    <script src="/b35.js "></script>
    <script src="/b37.js "></script>
    <script src="/b39.js "></script>
    <script src="/b49a.js"></script>
    <script src="/b49b.js"></script>
    <script src="/b64.js "></script>
    <script src="/b65.js "></script>
    <script src="/b114.js"></script>
    <script src="/b115.js"></script>
    <script src="/b201.js"></script>
    <script src="/b202.js"></script>
    <script src="/b203.js"></script>
    <script src="/b344.js"></script>
    <script src="/b389.js"></script>
    <script src="/qr3.js "></script>

    <p></p>
    <a> &copy; Propiedad de UTFSMaps. Derechos reservados unica y exclusivamente para el uso profesional del contenido proporcionado.</a>
</body>
</html>
