<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bloque.css">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>

    <script src="/jquery.js"></script>
    <script src="/jquery.dataTables.min.js"></script>

    <img class="bar" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/barra_hud.png?raw=true' width=1510 heigth= 2000 alt="barra">
    <img class="blanco" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/blanco.png?raw=true' width=1600 height=20 alt="blanco">
    <img class="hud" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/Hud.png?raw=true' width=900 heigth= 2000 alt="menu">
    <a href="https://utfsmaps.herokuapp.com/"><img class="hud_2" src='https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/inv.png?raw=true' width=550 heigth= 2000 alt="menu"></a>
</head>
<body>
    <div class="buscar">
        <input type="search" id="input-search" class="buscar_texto" placeholder="       &iquest;Qu&eacute; sala buscas?"/>
        <a href="" class="boton">
        <i class="icon-buscar"></i>
        </a>
        <div class="content-search">
            <div class="content-table">
                <table id="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">Salas A</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A016</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">A017</a></td>
                                </tr>
    
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_b/">Salas B</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B001</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B002</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B003</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B004</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B005</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B006</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B007</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B008</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B009</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B010</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B011</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B012</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B013</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B014</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B015</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B021</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B022</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B023</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B031</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B033</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B035</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B037</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B039</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B049</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B064</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B065</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B114</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B115</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B203</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B344</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_b/"> B389</a></td>
                                </tr>
                                
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Salas C</a></td>
                        </tr>
                                <tr>   
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">FabLab</a></td>
                                </tr>
                                <tr>   
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Sala Pasta</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">Salas F</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F325</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F400</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F401</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F402</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F403</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F405</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F406</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F407</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F408</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F409</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F410</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F411</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">F425</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">Salas E</a></td>
                        </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E201</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E202</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">E203</a></td>
                                </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_e/">Edificio E</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_a/">Edificio A</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_b/">Edificio B</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_c/">Edificio C</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://utfsmaps.herokuapp.com/edificio_f/">Edificio F</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button class="inv-botf325" id="btn-abrir-modalf325"> F325 </button>
    <dialog id="modalf325">
        <h2> Esta sala se encuentra en el 3er piso ,debajo de la sala f425, pero sobre la biblioteca y el patio del testamento. </h2>
        <button id="btn-cerrar-modalf325"> cerrar descripcion </button>
    </dialog>
    
    <button class="inv-botf400" id="btn-abrir-modalf400"> F400 </button>
    <dialog id="modalf400">
        <h2> Esta sala se encuentra en el 4to piso sobre el casino, tiene 2 entradas.
            <p>Puedes acceder a este piso por las escaleras en el pasillo de las lamparas o las escaleras del casino.</p> </h2>
        <button id="btn-cerrar-modalf400"> cerrar descripcion </button>
    </dialog>
    
    <button class="inv-botf401" id="btn-abrir-modalf401"> F401 </button>
    <dialog id="modalf401">
        <h2> Esta sala se encuentra en el 4to piso arriba del casino, entre las salas f400 y f402, tiene 2 entradas. </h2>
        <button id="btn-cerrar-modalf401"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf402" id="btn-abrir-modalf402"> F402 </button>
    <dialog id="modalf402">
        <h2> Esta sala se encuentra en el 4to piso arriba del casino, entre las salas f411 y f401, tiene 2 entradas. </h2>
        <button id="btn-cerrar-modalf402"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf403" id="btn-abrir-modalf403"> F403 </button>
    <dialog id="modalf403">
        <h2> Esta sala se encuentra en el 4to piso arriba del casino, a mano izquierda al entrar por el pasillo, esta sala tiene una entrada. </h2>
        <button id="btn-cerrar-modalf403"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf404" id="btn-abrir-modalf404"> F404 </button>
    <dialog id="modalf404">
        <h2> Esta sala se encuentra en el 4to piso arriba del casino, entre las salas f404 y f405 tiene 1 entrada. </h2>
        <button id="btn-cerrar-modalf404"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf405" id="btn-abrir-modalf405"> F405 </button>
    <dialog id="modalf405">
        <h2> Esta sala se encuentra en el 4to piso arriba del casino, entre las salas f411 y f404, tiene 1 entrada. </h2>
        <button id="btn-cerrar-modalf405"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf406" id="btn-abrir-modalf406"> F406 </button>
    <dialog id="modalf406">
        <h2> Esta sala se encuentra en el 4to piso el "AULA MAGNA",se encuentra al lado de la sala f407 y detras de la f408. </h2>
        <button id="btn-cerrar-modalf406"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf407" id="btn-abrir-modalf407"> F407 </button>
    <dialog id="modalf407">
        <h2> Esta sala se encuentra en el 4to piso sobre el "AULA MAGNA" se encuentra al lado de la sala f406 y detras de la f408. </h2>
        <button id="btn-cerrar-modalf407"> cerrar descripcion  </button>
    </dialog>

    <button class="inv-botf408" id="btn-abrir-modalf408"> F408 </button>
    <dialog id="modalf408">
        <h2> Esta sala se encuentra en el 4to piso sobre el "AULA MAGNA", esta sala se encuentra en el centro tomando como referencia al resto de salas. </h2>
        <button id="btn-cerrar-modalf408"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf409" id="btn-abrir-modalf409"> F409 </button>
    <dialog id="modalf409">
        <h2> Esta sala se encuentra en el 4to piso sobre el "AULA MAGNA", esta sala se encuentra frente a la sala f408 y al lado de la sala f410. </h2>
        <button id="btn-cerrar-modalf409"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botf410" id="btn-abrir-modalf410"> F410 </button>
    <dialog id="modalf410">
        <h2> Esta sala se encuentra en el 4to piso sobre el "AULA MAGNA", esta sala se encuentra frente a la sala f408 y al lado de la sala f409. </h2>
        <button id="btn-cerrar-modalf410"> cerrar descripcion  </button>
    </dialog>

    <button class="inv-botf411" id="btn-abrir-modalf411"> F411 </button>
    <dialog id="modalf411">
        <h2> sta sala se encuentra en el 4to piso arriba del casino, entre las salas f405 y f402, tiene 1 entrada. </h2>
        <button id="btn-cerrar-modalf411"> cerrar descripcion  </button>
    </dialog>

    <button class="inv-botf425" id="btn-abrir-modalf425"> F425 </button>
    <dialog id="modalf425">
        <h2> Esta sala se encuentra en el 4to piso sobre la biblioteca y el patio del testamento. </h2>
        <button id="btn-cerrar-modalf425"> cerrar descripcion </button>
    </dialog>

    <button class="inv-botqr" id="btn-abrir-modalqr"><img src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/qr.png?raw=true" width="60px" height="60px"></button>
    <dialog id="modalqr">
        <h2> <img src="{% static 'app/img/boton.png' %}"></h2>
        <button id="btn-cerrar-modalqr"> cerrar descripcion  </button>
    </dialog>

    <button class="inv-botqr2" id="btn-abrir-modalqr2"><img src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/qr.png?raw=true" width="60px" height="60px"></button>
    <dialog id="modalqr2">
        <h2> <img src="{% static 'app/img/boton.png' %}"></h2>
        <button id="btn-cerrar-modalqr2"> cerrar descripcion </button>
    </dialog>

<a> <img class="piso_f" src="https://github.com/1natth/UTFSMaps/blob/master/libreria/static/app/img/edificiof.png?raw=true" width="1060" height="900"></a>
<script src="/search.js"></script>
<script src="/f325.js"></script>
<script src="/f400.js"></script>
<script src="/f401.js"></script>
<script src="/f402.js"></script>
<script src="/f403.js"></script>
<script src="/f404.js"></script>
<script src="/f405.js"></script>
<script src="/f406.js"></script>
<script src="/f407.js"></script>
<script src="/f408.js"></script>
<script src="/f409.js"></script>
<script src="/f410.js"></script>
<script src="/f411.js"></script>
<script src="/f425.js"></script>
<script src="/qr.js"></script>
<script src="/qr2.js"></script>

    <p></p>
    <a> &copy; Propiedad de UTFSMaps. Derechos reservados unica y exclusivamente para el uso profesional del contenido proporcionado.</a>
</body>
</html>
